<h1>FlipCards!</h1>
<h4>Create a new Deck</h4>
<div class="deckCreate">
<form class="" action="user/create" method="post">
<input type="text" name="deck" value="" placeholder="DeckName">


  
<button type="submit" name="button">Create a Deck</button>
</form>
</div>
<div class = "deck-container">
{{#decks}}
<div class = "deck">
<a href = "user/{{id}}" >View</a>
{{name}}
</div>
<form class="delete" action="user/{{id}}/delete" method="delete">
  <button type="submit">Delete</button>
</form>

{{/decks}}
</div>

