<h1> deck view for {{#deck}} {{name}} </h1>
<h2> {{numberOfQuestions}}</h2>
{{id}}

<form class="" action="/user/{{id}}/create" method="post">
<input type="text" name="question" value="" placeholder="Question">
<input type="text" name="answer" value="" placeholder="Answer">

  
<button type="submit" name="button">Create Card</button>

<a href = "{{id}}/startquiz"> start quiz</a>
{{/deck}}
<div class = questions-container>
{{#deckCards}}
<div class = "question">
<a href = "{{deck}}/{{id}}/question"> Question: {{questionNumber}}</a>
{{question}}
{{answer}}

</div>

{{/deckCards}}
</div>